<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471330204699-g7hm1fhqg2comg62lhn1okcph7tn43s4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471330204699-g7hm1fhqg2comg62lhn1okcph7tn43s4</string>
	<key>API_KEY</key>
	<string>AIzaSyBHiqkwqEVHqMqFyssPCqpqOBbjINui0CI</string>
	<key>GCM_SENDER_ID</key>
	<string>471330204699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.Exire.ExireApp</string>
	<key>PROJECT_ID</key>
	<string>exire-62903</string>
	<key>STORAGE_BUCKET</key>
	<string>exire-62903.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471330204699:ios:68289b4fa1ae762f</string>
	<key>DATABASE_URL</key>
	<string>https://exire-62903.firebaseio.com</string>
</dict>
</plist>
